// color palette to come from: https://material.io/color/#!/?view.left=0&view.right=0&primary.color=303F9F
@import "./variables";

#root {
	.title {
		text-align: center;
		margin: $space-xxxlrg 0;
	}
	main {
		margin-bottom: $space-xxxlrg;
	}
}
