@import "../../styles/variables";

.hero-detail {
	h2 {
		text-align: center;
		padding: $space-xlrg;
	}
	.stats {
		width: 96.4%;
		display: inline-block;
		border-top: solid 1px #003c8f;
		margin: 1.8%;
		padding: $space-xlrg 0;
		border-bottom: solid 1px #003c8f;
		.stat {
			text-align: center;
		}
	}
	.bottom {
		display: inline-block;
		width: 100%;
		padding-bottom: $space-xlrg;
		.breadcrumbs {
			float: left;
		}
		.quick-links {
			padding: 0 !important;
			float: right;
		}
	}
}

@media screen and (max-width: $break-medium) {
	.hero-detail {
		h2{
			padding: $space-med;
		}
		.stats {
			.stat {
				border-bottom: solid 1px #003c8f;
				margin-bottom: $space-lrg;
				padding-bottom: $space-lrg;
				&:nth-child(4){
					border-bottom: 0;
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
		.bottom {
			padding-bottom: $space-med;
			.breadcrumbs {
				float: none;
				margin: auto;
				width: fit-content;
			}
			.quick-links {
				padding: 0 !important;
				float: right;
			}
		}
	}
}