@import "../../styles/variables";
@import "../../styles/mixins";

nav.navbar {
	padding: 0;
	margin-bottom: $space-xlrg;
	.appbar {
		background-color: $primary !important;
	}
	h1 {
		text-align: center;
		text-decoration: none;
		color: $white;
		margin-top: $space-small;
	}
	.drawer {
		div {
			&:nth-child(3) {
				top: auto !important;
			}
			&:nth-child(2) {
				background-color: $primary !important;
			}
		}
		// for this app, all material-ui styles will be overwritten with !important
		// this allows for consistent sass utilization to avoid inline styles
		a span {
			color: $white !important;
			text-align: center;
		}
		.navbar-top {
			height: 64px;
			padding-top: $space-med;
			svg {
				margin: auto;
				display: block !important;
				width: $space-xxlrg !important;
				height: $space-xxlrg !important;
				color: $white !important;
			}
		}
	}
	a.links {
		text-transform: capitalize;
		@include nav-links();
	}
}
